.logo {
  font-size: 1.2rem;
  padding: 0.5rem;
  color: #fff;
  background-color: blueviolet;
  position: relative;
  font-weight: bold;
  font-size: 2rem;
  height: 100%;
  width: 11rem;
  z-index: 200;
  transform: skewX(-15deg);
}

.logo::before {
  content: "";
  width: 3.6rem;
  height: 2rem;
  position: absolute;
  top: -20%;
  left: 80%;
  background-color: blueviolet;
  opacity: 0.5;
}
.logo::after {
  content: "";
  width: 3.6rem;
  height: 2rem;
  position: absolute;
  bottom: -20%;
  right: 80%;
  background-color: blueviolet;
  opacity: 0.5;
}
