.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
  font-size: 16px;
  height: 87%;
}

.ql-snow.ql-toolbar {
  display: block;

  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #b195c7;
}

.ql-editor {
  height: 100%;
  width: 65vw;
}

.code-editor {
  width: 100%;

  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  /* overflow: auto; */
}

.quill {
  height: 100%;
  /* overflow: auto; */
}
