.aboutus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
}

.aboutus h1 {
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.aboutus hr {
  width: 10rem;
  border-width: 0.6rem;
  border-color: #e22bdf;
  margin-top: 0;
}

.about-img {
  padding-bottom: 10rem;
  height: auto;
  width: 100%;
}

.aboutus p {
  font-size: 1.8rem;
  width: 70%;
}

.aboutus p:last-child {
  margin-bottom: 20rem;
}

footer {
  background-color: #8a2be2;
  width: 99.9%;
  overflow-x: hidden;
  padding: 0 0 0 0;
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
}