.nav-link {
  font-size: 1.6rem;
  padding: 0.5rem 1rem !important;
}
.nav-link:hover {
  color: #8a2be2 !important;
}
.nav-link.active {
  color: #8a2be2 !important;
}
.navbar-nav .btn-success {
  font-size: 1.6rem;
  border-radius: 4rem;
  background-color: #2e2be2;
  padding: 0.5rem 1rem;
}
.navbar-nav .btn-success:active {
  background-color: #2e2be2 !important;
}

.navbar-nav .btn-success:hover {
  opacity: 0.8;
}
.py-4.navbar {
  margin-bottom: 5px;
}
