html,
body {
  overflow-x: hidden;
}
.white-board,
.code-editor {
  border-style: solid;
  border-color: #d3d3d3;
  border-width: 0 1px 1px 1px;
  height: 80vh;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.code-editor {
  border: 0;
}
.notification-item-root {
  position: relative;
  top: -2.5rem;
  width: 70rem;
}
.notification-title {
  display: none;
}
.notification-content {
  text-align: center;
}