.message {
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  list-style: none;
  float: left;
  clear: both;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  min-width: 2rem;
  max-width: 20rem;
  color: #fff;
  word-wrap: break-word;
}

.message.left {
  text-align: left;
  background: #8044b8;
  border-radius: 0rem 1rem 1rem 1rem;
  margin-left: 2px;
}

.message h5 {
  margin: 0;
  font-size: 1rem;
  color: rgb(224, 202, 245);
}

.message.right {
  float: right;
  clear: both;
  text-align: right;
  background: #9e58e0;
  border-radius: 1rem 0rem 1rem 1rem;
  margin-right: 2px;
}
